//Variables

@black:           #000;
@white:           #fff;
@grayDark:        #333;
@grayLight:       #eee;

@menuBackground:  @grayLight;
@menuColor:    	  @black;

@menuBackgroundFocus: #034575;
@menuColorFocus:	@white;

//
// Skip Navigation Styles
// --------------------------------------------------

.skipTo {
	position: absolute;
}

.skipTo.offscreen {
	top: -30em;
	left: -3000em;
}

.skipTo button {
  margin: 0;
  padding: 6px;
  position: relative;
  border-radius: 5px;
  background-color: @menuBackground;
  border-width: 0;
  border-style: none;
  color: @menuColor;
}

.skipTo [role="menu"] {
  display: none;
  margin: 0;
  padding: 0;
}

.skipTo [role="separator"]:first-child {
	border-radius: 5px 5px 0 0;
}

.skipTo [role="menuitem"] {
  margin: 0;
  padding: 4px;
  display: block;
  width: auto;
  background-color: @menuBackground;
  border-width: 0px;
  border-style: solid;
  color: @menuColor;
}

.skipTo [role="separator"] {
  margin: 0;
  padding: 4px;
  display: block;
  width: auto;
	font-weight: bold;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: @menuColor;
  background-color: @menuBackground;
  color: @menuColor;
}

.skipTo [role="separator"]:first-child {
  border-radius: 5px 5px 0 0;
}

.skipTo [role="separator"].last {
	border-radius: 0 0 5px 5px;
  border: none;
}

.skipTo [role="menuitem"].h2 .name {
	padding-left: 0.5em;
}

.skipTo [role="menuitem"].h3 .name {
	padding-left: 1em;
}

.skipTo [role="menuitem"].h4 .name {
	padding-left: 1.5em;
}

.skipTo [role="menuitem"].h5 name {
	padding-left: 2em;
}

.skipTo [role="menuitem"].h6 name {
	padding-left: 2.5em;
}

/* focus styling */

.skipTo.focus {
	display: block;
}

.skipTo.focus button:focus,
.skipTo.focus button:hover {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: @menuBackgroundFocus;
}

.skipTo button[aria-expanded="true"],
.skipTo [role="menuitem"]:focus {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: @menuBackgroundFocus;
  background-color: @menuBackgroundFocus;
  color: @menuColorFocus;
  margin: 0;
}
