.skipTo {
  position: absolute;
  top: 4px;
  left: 40%;
}

.skipTo.popup {
  position: absolute;
  top: -30em;
  left: -3000em;
}

.skipTo.popup.focus {
  position: absolute;
  top: 0;
  left: 50%;
}

.skipTo button {
  margin: 0;
  padding: 5px;
  position: relative;
  border-radius: 0px 0px 5px 5px;
  background-color: $buttonBackgroundColor;
  border-width: 0;
  border-style: none;
  color: $buttonColor;
  z-index: 1000;
}

.skipTo [role="menu"] {
  position: absolute;
  min-width: 17em;
  display: none;
  margin: 0;
  padding: 0;
  background-color: $menuBackgroundColor;
  border-width: 2px;
  border-style: solid;
  border-color: $menuBackgroundColor;
  border-radius: 5px;
  z-index: 1000;
}

.skipTo [role="separator"]:first-child {
	border-radius: 5px 5px 0 0;
}

.skipTo [role="menuitem"] {
  margin: 1px;
  padding: 4px;
  display: block;
  width: auto;
  background-color: $menuitemBackgroundColor;
  border-width: 0px;
  border-style: solid;
  color: $menuitemColor;
  z-index: 1000;
}

.skipTo [role="menuitem"]:first-letter {
  text-decoration: underline;
  text-transform: uppercase;
}

.skipTo [role="separator"] {
  margin: 0;
  padding: 4px;
  display: block;
  width: auto;
	font-weight: bold;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $menuitemColor;
  background-color: $menuitemBackgroundColor;
  color: $menuitemColor;
  z-index: 1000;
}

.skipTo [role="separator"]:first-child {
  border-radius: 5px 5px 0 0;
}

.skipTo [role="menuitem"].last {
	border-radius: 0 0 5px 5px;
}

.skipTo [role="menuitem"].skipto-h2 {
	padding-left: 1em;
}

.skipTo [role="menuitem"].skipto-h3 {
	padding-left: 2em;
}

.skipTo [role="menuitem"].skipto-h4 {
	padding-left: 3em;
}

.skipTo [role="menuitem"].skipto-h5 {
	padding-left: 4em;
}

.skipTo [role="menuitem"].skipto-h6 {
	padding-left: 5em;
}

/* focus styling */

.skipTo.focus {
	display: block;
}

.skipTo button:focus,
.skipTo button:hover {
  padding: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: $buttonFocusBorderColor;
  background-color: $buttonFocusBackgroundColor;
  color: $buttonFocusColor;
}

.skipTo [role="menuitem"]:focus {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: $menuitemFocusBorderColor;
  background-color: $menuitemFocusBackgroundColor;
  color: $menuitemFocusColor;
  margin: 0;
}

.skipTo [role="menuitem"].skipto-h2,
.skipTo [role="menuitem"].skipto-h2:focus {
  padding-left: 1em;
}

.skipTo [role="menuitem"].skipto-h3,
.skipTo [role="menuitem"].skipto-h3:focus {
  padding-left: 2em;
}

.skipTo [role="menuitem"].skipto-h4,
.skipTo [role="menuitem"].skipto-h4:focus {
  padding-left: 3em;
}

.skipTo [role="menuitem"].skipto-h5,
.skipTo [role="menuitem"].skipto-h5:focus {
  padding-left: 4em;
}

.skipTo [role="menuitem"].skipto-h6,
.skipTo [role="menuitem"].skipto-h6:focus {
  padding-left: 5em;
}
