.skip-to.popup {
  position: absolute;
  top: -30em;
  left: -3000em;
}

.skip-to,
.skip-to.popup.focus {
  position: absolute;
  top: 0;
  left: $positionLeft;
}

.skip-to button {
  position: relative;
  margin: 0;
  padding: 6px 8px 6px 8px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 6px 6px;
  background-color: $buttonBackgroundColor;
  border-color: $buttonBorderColor;
  color: $buttonColor;
  z-index: 1000;
}

.skip-to [role="menu"] {
  position: absolute;
  min-width: 17em;
  display: none;
  margin: 0;
  padding: 0px;
  background-color: $menuBackgroundColor;
  border-width: 2px;
  border-style: solid;
  border-color: $menuBorderColor;
  border-radius: 5px;
  z-index: 1000;
}

.skip-to [role="separator"]:first-child {
	border-radius: 5px 5px 0 0;
}

.skip-to [role="menuitem"] {
  margin: 1px;
  padding: 4px;
  display: block;
  width: auto;
  background-color: $menuitemBackgroundColor;
  border-width: 0px;
  border-style: solid;
  color: $menuitemColor;
  z-index: 1000;
}

.skip-to [role="menuitem"]:first-letter {
  text-decoration: underline;
  text-transform: uppercase;
}

.skip-to [role="separator"] {
  margin: 0;
  padding: 4px;
  display: block;
  width: auto;
	font-weight: bold;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $menuitemColor;
  background-color: $menuitemBackgroundColor;
  color: $menuitemColor;
  z-index: 1000;
}

.skip-to [role="separator"]:first-child {
  border-radius: 5px 5px 0 0;
}

.skip-to [role="menuitem"].last {
	border-radius: 0 0 5px 5px;
}

.skip-to [role="menuitem"].skipto-h2 {
	padding-left: 1em;
}

.skip-to [role="menuitem"].skipto-h3 {
	padding-left: 2em;
}

.skip-to [role="menuitem"].skipto-h4 {
	padding-left: 3em;
}

.skip-to [role="menuitem"].skipto-h5 {
	padding-left: 4em;
}

.skip-to [role="menuitem"].skipto-h6 {
	padding-left: 5em;
}

/* focus styling */

.skip-to.focus {
	display: block;
}

.skip-to button:focus,
.skip-to button:hover {
  background-color: $buttonFocusBackgroundColor;
  color: $buttonFocusColor;
  outline: none;
}

.skip-to button:focus {
  padding: 6px 5px 4px 6px;
  border-width: 0px 3px 3px 3px;
  border-color: $buttonFocusBorderColor;
}

.skip-to [role="menuitem"]:focus {
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: $menuitemFocusBorderColor;
  background-color: $menuitemFocusBackgroundColor;
  color: $menuitemFocusColor;
  outline: none;
}

.skip-to [role="menuitem"].skipto-h2 {
  padding-left: 16px;
}

.skip-to [role="menuitem"].skipto-h2:focus {
  padding-left: 14px;
}

.skip-to [role="menuitem"].skipto-h3 {
  padding-left: 28px;
}

.skip-to [role="menuitem"].skipto-h3:focus {
  padding-left: 26px;
}

.skip-to [role="menuitem"].skipto-h4 {
  padding-left: 40px;
}

.skip-to [role="menuitem"].skipto-h4:focus {
  padding-left: 38px;
}

.skip-to [role="menuitem"].skipto-h5 {
  padding-left: 52px;
}

.skip-to [role="menuitem"].skipto-h5:focus {
  padding-left: 50px;
}

.skip-to [role="menuitem"].skipto-h6 {
  padding-left: 64px;
}

.skip-to [role="menuitem"].skipto-h6:focus {
  padding-left: 62px;
}
