.skip-to.popup {
  position: absolute;
  top: -30em;
  left: -3000em;
}

.skip-to,
.skip-to.popup.focus {
  position: absolute;
  top: 0;
  left: $positionLeft;
}

.skip-to.fixed {
  position: fixed;
}


.skip-to button {
  position: relative;
  margin: 0;
  padding: 6px 8px 6px 8px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 6px 6px;
  background-color: $buttonBackgroundColor;
  border-color: $buttonBorderColor;
  color: $buttonColor;
  z-index: 1000;
}

.skip-to [role="menu"] {
  position: absolute;
  min-width: 17em;
  display: none;
  margin: 0;
  padding: 0.25rem;
  background-color: $menuBackgroundColor;
  border-width: 2px;
  border-style: solid;
  border-color: $menuBorderColor;
  border-radius: 5px;
  z-index: 1000;
}

.skip-to [role="group"] {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 1px;
}

.skip-to [role="separator"]:first-child {
	border-radius: 5px 5px 0 0;
}

.skip-to [role="menuitem"] {
  padding: 3px;
  display: block;
  width: auto;
  border-width: 0px;
  border-style: solid;
  color: $menuitemColor;
  background-color: $menuitemBackgroundColor;
  z-index: 1000;

  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(6, 1.2rem) 1fr;
  grid-column-gap: 2px;

  font-size: 1em;
}

.skip-to [role="menuitem"] .level:first-letter,
.skip-to [role="menuitem"] .label:first-letter {
  text-decoration: underline;
  text-transform: uppercase;
}

.skip-to [role="menuitem"] .level {
  text-align: right;
  padding-right: 4px;
}

.skip-to [role="menuitem"] .label {
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skip-to [role="menuitem"].skip-to-h1 .level { grid-column: 1; }
.skip-to [role="menuitem"].skip-to-h2 .level { grid-column: 2; }
.skip-to [role="menuitem"].skip-to-h3 .level { grid-column: 3; }
.skip-to [role="menuitem"].skip-to-h4 .level { grid-column: 4; }
.skip-to [role="menuitem"].skip-to-h5 .level { grid-column: 5; }
.skip-to [role="menuitem"].skip-to-h6 .level { grid-column: 8;}

.skip-to [role="menuitem"].skip-to-h1 .label { grid-column: 2 / 8; }
.skip-to [role="menuitem"].skip-to-h2 .label { grid-column: 3 / 8; }
.skip-to [role="menuitem"].skip-to-h3 .label { grid-column: 4 / 8; }
.skip-to [role="menuitem"].skip-to-h4 .label { grid-column: 5 / 8; }
.skip-to [role="menuitem"].skip-to-h5 .label { grid-column: 6 / 8; }
.skip-to [role="menuitem"].skip-to-h6 .label { grid-column: 7 / 8;}

.skip-to [role="menuitem"].skip-to-h1.no-level .label { grid-column: 1 / 8; }
.skip-to [role="menuitem"].skip-to-h2.no-level .label { grid-column: 2 / 8; }
.skip-to [role="menuitem"].skip-to-h3.no-level .label { grid-column: 3 / 8; }
.skip-to [role="menuitem"].skip-to-h4.no-level .label { grid-column: 4 / 8; }
.skip-to [role="menuitem"].skip-to-h5.no-level .label { grid-column: 5 / 8; }
.skip-to [role="menuitem"].skip-to-h6.no-level .label { grid-column: 6 / 8; }

.skip-to [role="menuitem"].skip-to-nesting-level-1 .nesting { grid-column: 1; }
.skip-to [role="menuitem"].skip-to-nesting-level-2 .nesting { grid-column: 2; }
.skip-to [role="menuitem"].skip-to-nesting-level-3 .nesting { grid-column: 3; }

.skip-to [role="menuitem"].skip-to-nesting-level-0 .label { grid-column: 1 / 8; }
.skip-to [role="menuitem"].skip-to-nesting-level-1 .label { grid-column: 2 / 8; }
.skip-to [role="menuitem"].skip-to-nesting-level-2 .label { grid-column: 3 / 8; }
.skip-to [role="menuitem"].skip-to-nesting-level-3 .label { grid-column: 4 / 8; }

.skip-to [role="menuitem"].no-items .label,
.skip-to [role="menuitem"].action .label {
  grid-column: 1 / 8;
}

.skip-to [role="separator"] {
  margin: 1px 0px 1px 0px;
  padding: 3px;
  display: block;
  width: auto;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $menuitemColor;
  background-color: $menuitemBackgroundColor;
  color: $menuitemColor;
  z-index: 1000;
}

.skip-to [role="separator"] .mofn {
  font-weight: normal;
  font-size: 85%;
}

.skip-to [role="separator"]:first-child {
  border-radius: 5px 5px 0 0;
}

.skip-to [role="menuitem"].last {
	border-radius: 0 0 5px 5px;
}

/* focus styling */

.skip-to.focus {
	display: block;
}

.skip-to button:focus,
.skip-to button:hover {
  background-color: $buttonFocusBackgroundColor;
  color: $buttonFocusColor;
  outline: none;
}

.skip-to button:focus {
  padding: 4px 7px 5px 7px;
  border-width: 2px 2px 2px 2px;
  border-color: $buttonFocusBorderColor;
}

.skip-to [role="menuitem"]:focus {
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: $menuitemFocusBorderColor;
  background-color: $menuitemFocusBackgroundColor;
  color: $menuitemFocusColor;
  outline: none;
}
